:root {
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
body > div,
main {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: black;
  color: white;
}

body {
}
