.header {
  font-size: 5em;
}

.main {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 64px;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 250px;
  height: 250px;
}

.button {
  background: linear-gradient(rgb(17, 17, 17) 0%, rgb(12, 12, 12) 100%);
  height: 100%;
  width: 100%;
  opacity: 1;
  border-radius: 12px;
  border: 0;
  color: white;
  cursor: pointer;
  position: relative;
}

.overlay {
  background: rgba(255, 255, 255, 1);
  opacity: 0;
  inset: 0px;
  flex: 0 0 auto;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
}

.button:hover .overlay {
  opacity: 0.01;
}

.key {
  flex: 0 0 auto;
  height: auto;
  pointer-events: none;
  position: absolute;
  width: auto;
  transform: none;
  transform-origin: 50% 50% 0px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.keyInner {
  background: linear-gradient(rgb(17, 17, 17) 0%, rgb(6, 6, 6) 100%);
  border-radius: var(--border-radius);
  box-shadow: rgb(255 255 255 / 8%) 0px 1px 6px 0px inset,
    rgb(0 0 0 / 15%) 0px 0.76382px 0.76382px -0.53571px,
    rgb(0 0 0 / 14%) 0px 1.87304px 1.87304px -1.07143px,
    rgb(0 0 0 / 14%) 0px 3.54344px 3.54344px -1.60714px,
    rgb(0 0 0 / 13%) 0px 6.19599px 6.19599px -2.14286px,
    rgb(0 0 0 / 12%) 0px 10.7712px 10.7712px -2.67857px,
    rgb(0 0 0 / 10%) 0px 19.7435px 19.7435px -3.21429px,
    rgb(0 0 0 / 5%) 0px 39px 39px -3.75px,
    rgb(0 255 255 / 0%) 0px 20px 120px 0px;
  transform: translate(0px, 0px) scale(1);
  transform-origin: 50% 50% 0px;
  place-content: center;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 0px;
  height: 100px;
  overflow: hidden;
  padding: 0px 0px 4px;
  position: relative;
  width: 100px;
  will-change: transform;
  transition: transform 0.2s ease-in-out, box-shadow 1s ease-in-out;

  --border-radius: 18px;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0.3)
  );

  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: conic-gradient(
    #ffffff80,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff10,
    #ffffff80
  );

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
}

.button:hover .keyInner {
  transform: translate(0px, -4px) scale(1.05);
  transition-delay: 0.01s;
}

.button:active .keyInner {
  box-shadow: rgb(255 255 255 / 8%) 0px 4px 6px 0px inset,
    rgb(0 0 0 / 15%) 0px 0.76382px 0.76382px -0.53571px,
    rgb(0 0 0 / 14%) 0px 1.87304px 1.87304px -1.07143px,
    rgb(0 0 0 / 14%) 0px 3.54344px 3.54344px -1.60714px,
    rgb(0 0 0 / 13%) 0px 6.19599px 6.19599px -2.14286px,
    rgb(0 0 0 / 12%) 0px 10.7712px 10.7712px -2.67857px,
    rgb(0 0 0 / 10%) 0px 19.7435px 19.7435px -3.21429px,
    rgb(0 0 0 / 5%) 0px 39px 39px -3.75px, rgb(17 58 251 / 77%) 0px 0px 80px 0px;
  transition: box-shadow 0.2s ease, color 0.2s ease;
}

.keyInner::before,
.keyInner::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.keyInner::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

.keyInner::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(rgb(17, 17, 17) 0%, rgb(6, 6, 6) 100%);
  background-clip: content-box;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.card {
  min-height: 164px;
  width: 100%;
  position: relative;
}

.details {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.details,
.details > div {
  width: 100%;
}
